html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://images.unsplash.com/photo-1519419166318-4f5c601b8e6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
form {
  padding: 20px;
  margin-top: 60px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="textarea"]:not(.browser-default):focus:not([readonly]) {
  border-color: lightcoral;
  box-shadow: none;
}
.navbar-dark {
  background-color: #575356;
}

.page-enter {
  opacity: 0.01;
  transform: translate(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translate(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translate(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translate(100%);
  transition: all 300ms ease-out;
}
